<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BZChart.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6F883E0D1D14E4C70048DAF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6F883E211D14E4C80048DAF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6F883E2C1D14E4C80048DAF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
